.my-applications h3 {
  margin-bottom: 16px;
}

/* STATUS */
.status.pending {
  background: #fef3c7;
  color: #d97706;
  padding: 5px 12px;
  border-radius: 12px;
  font-size: 12px;
}

.status.approved {
  background: #dcfce7;
  color: #16a34a;
  padding: 5px 12px;
  border-radius: 12px;
  font-size: 12px;
}

.status.rejected {
  background: #fee2e2;
  color: #dc2626;
  padding: 5px 12px;
  border-radius: 12px;
  font-size: 12px;
}
